.header {
color: grey;
text-align: center;
}
.submit {

  color: white;
}
body {
  background-image:url(craie.jpg);
}
.tables a {
  text-decoration: none;
  color: white;
  border: solid 2px #7f0000;
  border-radius: 5px;
}
.tables ul{
  list-style-type: none;
}
.tables a:hover {
  background-color: #b20000;
}
.table1 {
  border: solid 1px #CACACA;
  border-radius: 5px;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  color: white;
  font-size: 20px;
  float: left;
  text-align: left;
}
.table2 {
  border: solid 1px #CACACA;
  border-radius: 5px;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  color: white;
  font-size: 20px;
  list-style-type: none;
  float: right;
  text-align: left;
}
.champs1 {
  color: white;
  text-align: center;
}
.champs2 {
  color: white;
  text-align: center;
}
